html,
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app__main-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.app__navbar {
  height: 80px;
  width: 100%;
}

.app__play-table-container {
  flex-grow: 1;
}

.app__play-table {
  display: grid;
  grid-template-areas:
    "left top right"
    "left table right"
    "left bottom right";
  grid-template-columns: 8rem 1fr 8rem;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
  min-height: 38rem;
  width: 44rem;
  justify-content: center;
  margin: auto;
}

.app__play-table_table {
  align-items: center;
  background: #d7e9ff;
  border-radius: 2.8rem;
  display: flex;
  grid-area: table;
  height: 16rem;
  justify-content: center;
  min-height: 16rem;
  min-width: 33.8rem;
  padding: 0 1.6rem;
  position: relative;
}

.app__cards-selector {
  height: 128px;
}

.app__player-card {
  display: inline-block;
  margin: 0 0.8rem;
  transition: all 0.1s linear;
  vertical-align: top;
  white-space: nowrap;
  box-sizing: border-box;
  outline-color: #74b3ff;
}

.app__player-card:hover {
  margin: -0.2rem 0.8rem 0rem 0.8rem;
}

.app__player-card_button:hover {
  background-color: #ccf;
}
.app__player-card_button {
  border: 2px solid #3993ff;
  cursor: pointer;
  outline: 0;
  transition: all 0.09s linear;
  border-radius: 0.8rem;
  font-size: 19px;
  height: 8rem;
  width: 4.8rem;
  color: #3993ff;
  background-color: transparent;
}

.app__player-card_button_selected {
  background-color: #3993ff;
  color: #fff;
  margin: -0.8rem 0rem 0rem 0rem;
}

.app__player-card_button_selected:hover {
  background-color: #3993ff;
  color: #fff;
  margin: -0.8rem 0rem 0rem 0rem;
}

.app__cards-selector_list {
  list-style: none;
  margin: 0;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1.6rem;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.app__play-table_top-cards,
.app__play-table_bottom-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app__play-table_top-cards {
  padding-bottom: 1.6rem;
}

.app__play-table_bottom-cards {
  padding-top: 1.6rem;
}

.app__play-table_table-button {
  align-items: center;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.09s linear;
  background: #3993ff;
  border: 0;
  color: #fff;
  padding: 0 2.4rem;
}

.app__play-table_table-delay-label {
  align-items: center;
  border: 0;
  border-radius: 0.8rem;
  display: inline-flex;
  font-size: 2.5rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.09s linear;
  border: 0;
  color: #3993ff;
  padding: 0 2.4rem;
}

.app__table-card_layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  perspective: 10rem;
  perspective-origin: bottom;
}

.app__table-card_back {
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #3993ff;
  background: linear-gradient(
      45deg,
      #3993ff 12%,
      transparent 0,
      transparent 88%,
      #3993ff 0
    ),
    linear-gradient(
      135deg,
      transparent 37%,
      #1a7bf2 0,
      #1a7bf2 63%,
      transparent 0
    ),
    linear-gradient(
      45deg,
      transparent 37%,
      #3993ff 0,
      #3993ff 63%,
      transparent 0
    ),
    #74b3ff;
  background-size: 17px 17px;
  border: 1px solid rgba(168, 174, 178, 0.4);
  border-radius: 0.6rem;
  box-shadow: 0 2px 4px rgb(168 174 178 / 40%);
  display: flex;
  height: 6rem;
  justify-content: center;
  overflow: hidden;
  width: 3.5rem;
  flex-direction: column;
}

.app__table-card_face {
  border-radius: 0.6rem;
  flex-shrink: 0;
  height: 6rem;
  width: 3.5rem;
  border: 1px solid #3993ff;
  color: #3993ff;
  line-height: 6rem;
  text-align: center;
}

.app__table-card_player-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.2em;
  overflow: hidden;
  padding-top: 0.8rem;
  text-align: center;
  width: 8rem;
}

.hidden {
  display: none;
}

.app__navbar {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.app__navbar_left,
.app__navbar_right {
  width: 16rem;
}

.app__navbar_center {
  text-align: center;
  flex-grow: 1;
}

.app__new-game-btn {
  align-items: center;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.09s linear;
  background: #3993ff;
  border: 0;
  color: #fff;
  padding: 0 2.4rem;
  margin: 1rem;
}

.app__table-card_open {
  text-align: center;
  font-size: 2rem;
}

.app__avr-score {
  height: 128px;
  text-align: center;
  font-size: 3rem;
}

[v-cloak] {
  display: none;
}
